
body {
    background-color: rgba(217, 217, 217, 1);
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 24px;
}

header{
    top: 0;
    display:flex;
    position: fixed;
    width: 100%;
    background-color: rgba(74, 71, 71, 1);
    align-items: center;
    padding: 11px 0px 9px 17px;
}

h1{
    font-size: 48px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}

.logo{
    width: 131px;
    height: 131px;
    margin-right:24px;
}


nav {
    width:300px;
    position: fixed;
    top: 151px;
    background-color: rgba(74, 71, 71, 1);
    height: calc(100vh - 151px);
    padding-top: 10px;
}


.navigation {
    display: block;
    color: white;
    padding: 25px 0px 25px 17px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.navigation:hover {
    background-color: rgba(119, 117, 117, 1);
}


.arrow_text{
    display:flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.arrow{
    width: auto;
    height: auto;
    margin-right: 7px;
}

.content {
    margin-top: 151px;
    margin-left: 300px;
    padding-left: 61px;
    padding-top: 21px;
}

.main{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 71px;
}


.subtext{
    margin:0;
    margin-bottom: 58px;
    padding-right:172px;
}

.subtext h2{
    background: url('../img/text.png') left no-repeat transparent;
    padding-left: 42px;
    margin:0;
    margin-bottom: 7px;
    font-size: 32px;
    font-weight: 800;
}

.subtext p{
    margin:0;
    padding-left: 42px;
    margin-bottom: 23px;
    color: rgba(55, 55, 55, 1);
}

.subtext ul{
    margin:0;
    padding-left: 90px;
    margin-bottom: 23px;
    color: rgba(55, 55, 55, 1);
}

.subtext h3{
    margin:0;
    padding-left: 42px;
    margin-bottom: 11px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
}


.subtext .predul{
    margin-bottom:11px;

}
.subtext .salary{
    padding-left: 70px;
}

.flex-container {
    display: flex;
    width: 100%;
}

.substats{
     margin-bottom: 60px;
}

.heading{
    font-size: 48px;
    font-weight: 800;
    text-align:center;
    margin:0;
    margin-bottom: 26px;
}

.substats h2{
    background: url('../img/text.png') left no-repeat transparent;
    padding-left: 42px;
    margin:0;
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 800;
}

table {
    width: 267px;
    border-collapse: collapse;
}

table th, table td {
    padding: 0px 12px;
    text-align: center;
    height: 42px;
}

table th {
    background-color: rgba(202, 202, 202, 1);
    font-weight: bold;
    color: rgba(77, 75, 75, 1);
    font-size: 24px;
}

table td {
    font-size: 20px;
    font-weight: 300;
    color: rgba(77, 75, 75, 1);
}

table tr:nth-child(even) {
    background-color: rgba(202, 202, 202, 1);
}

.photo{
    margin-left:80px;
    padding-right: 48px;
}

.photo_stats{
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

form{
    margin-bottom: 46px;
}


label{
    font-size: 24px;
    font-weight: 800;
}

select{
    width:117px;
    height:33px;
    border: 1px solid rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

button{
    border-width: 1px;
    width:133px;
    height:33px;
    background-color: rgba(74, 71, 71, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 200;
}

button:hover {
    background-color: rgba(119, 116, 116, 1);
    cursor: pointer;
}


button:focus {
    background-color: rgba(161, 161, 161, 1);
}

.vacancy{
    list-style-type: none;
    margin-bottom: 60px;
    padding-right: 162px;
}

.one_vac{
    padding-left: 42px;
    margin:0;
    margin-bottom: 60px;
}

.vac_h{
    background: url('../img/doc.png') left no-repeat transparent;
    padding-left: 42px;
    font-size: 32px;
    font-weight: 800;
}

footer{
    text-align:right;
    padding:25px 56px 23px 0px;
    background-color: rgba(74, 71, 71, 1);
    color:rgba(255, 255, 255, 1);
}

footer p{
    margin-top:0px;
    margin-bottom: 25px;
}