{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой проект</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={% now 'U' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
</head>
<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="photo">
        <h1>PHP-программист</h1>
    </header>

    <nav>
        <a class="navigation" href="{% url 'index' %}">Главная</a>
        <a class="navigation" href="{% url 'stats' %}">Общая статистика</a>
        <a class="navigation" href="{% url 'relevance' %}">Востребованность</a>
        <a class="navigation" href="{% url 'geography' %}">География</a>
        <a class="navigation" href="{% url 'skills' %}">Навыки</a>
        <a class="navigation" href="{% url 'last_vacancies' %}">Последние вакансии</a>
    </nav>

    <div class="content">
        <div class="flex-container">
                <div class="table-container">
                    <h3>Зарплата по Городам/Странам</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Город/Страна</th>
                                <th>Зарплата</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in salary %}
                            <tr>
                                <td>{{ record.area_name }}</td>
                                <td>{{ record.salary }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="carousel-container">
                    <div>
                        <img src="{{ photo_salary.0.image.url }}" alt="{{ photo_salary.0.title }}">
                    </div>
                </div>
        </div>
        <div class="flex-container">
            <div class="table-container">
                <h3>Количество по Городам/Странам</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Город/Стран</th>
                            <th>Доля вакансий</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in count %}
                        <tr>
                            <td>{{ record.area_name }}</td>
                            <td>{{ record.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="carousel-container">
                <h3>Фотографии</h3>
                <div>
                    <img src="{{ photo_count.0.image.url }}" alt="{{ photo_count.0.title }}">
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>ФИО: Авдеенко Максим Анатольевич | Академическая группа: РИ-230931</p>
    </footer>
</body>
</html>
