{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой проект</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={% now 'U' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}">
</head>
<body>
    <header>
        <img class='logo' src="{% static 'img/logo.png' %}" alt="photo" >
        <h1>PHP-программист</h1>
    </header>

    <nav>
        <a class="navigation" href="{% url 'index' %}">
            <div class="arrow_text">
                <img class='arrow' src="{% static 'img/arrow.png' %}" alt="стрелка">
                <p>Главная</p>
            </div>
        </a>
        <a class="navigation" href="{% url 'stats' %}">
            <div class="arrow_text">
                <img class='arrow' src="{% static 'img/arrow.png' %}" alt="стрелка">
                <p>Общая статистика</p>
            </div>
        </a>
        <a class="navigation" href="{% url 'relevance' %}">
            <div class="arrow_text">
                <img class='arrow' src="{% static 'img/arrow.png' %}" alt="стрелка">
                <p>Востребованность</p>
            </div>
        </a>
        <a class="navigation" href="{% url 'geography' %}">
            <div class="arrow_text">
                <img class='arrow' src="{% static 'img/arrow.png' %}" alt="стрелка">
                <p>География</p>
            </div>
        </a>
        <a class="navigation" href="{% url 'skills' %}">
            <div class="arrow_text">
                <img class='arrow' src="{% static 'img/arrow.png' %}" alt="стрелка">
                <p>Навыки</p>
            </div>
        </a>
        <a class="navigation" href="{% url 'last_vacancies' %}">
            <div class="arrow_text">
                <img class='arrow' src="{% static 'img/arrow.png' %}" alt="стрелка">
                <p>Последние вакансии</p>
            </div>
        </a>
    </nav>

    <div class="content">
        <img class='main' src="{% static 'img/main.png' %}">
        <div class="subtext">
            <h2>Кто такой PHP-разработчик</h2>
            <p>PHP — это язык программирования общего назначения, на котором принято писать код для веб-приложений. Обычно PHP-разработчики создают внутренние компоненты, соединяют приложение с другими, часто сторонними веб-сервисами, и интегрируют плагины для популярных платформ. Также они занимаются обработкой внешних запросов, например заказов на сайте онлайн-магазина.</p>
            <p>PHP до сих пор один из самых распространённых языков программирования — около 76% всех веб-сайтов написаны на PHP. Он не подходит для разработки бэкендов игр и настольных приложений, однако на нём пишут код для соцсетей (VK), интернет-магазинов и досок объявлений («Авито»), корпоративных систем («Битрикс24», Slack).</p>
        </div>
        <div class="subtext">
            <h2>Чем занимается PHP-программист</h2>
            <p>Разработчик PHP пишет, поддерживает и тестирует исходный код для веб-приложений, приложений и программ, использующих PHP. Также на стороне специалиста остаётся устранение ошибок — отладка кода.</p>
            <p class="predul">Что делает PHP-разработчик:</p>
            <ul>
                <li>Создаёт, тестирует и развёртывает веб-приложения в команде с другими разработчиками.</li>
                <li>Выявляет и устраняет проблемы совместимости кода, связанные с размещением на различных платформах.</li>
                <li>Тестирует веб-сайты на всех типах устройств: мобильных телефонах, ноутбуках, планшетах, и устраняет проблемы, о которых сообщают пользователи в отзывах.</li>
                <li>Оценивает проектирование системы, включая удобство использования веб-сайта, его производительность и дизайн базы данных. Ищет альтернативы реализации новых функций приложения.</li>
                <li>Общается и работает вместе с другими командами разработчиков — разрешает конфликты, устанавливает приоритеты, выбирает лучшие решения или разрабатывает критерии для нового контента.</li>
            </ul>
            <p>Эти обязанности могут варьироваться от компании к компании: небольшая организация может нанять PHP-разработчика для решения любых задач, связанных с программированием, в то время как более крупная — создать полноценный IT-отдел с чётким распределением обязанностей между специалистами.</p>
        </div>
        <div class="subtext">
        <h2>Необходимые знания и навыки</h2>
        <p>Для успешной работы PHP-разработчику нужно владеть профессиональными и гибкими навыками. Среди основных — знать язык PHP, его фреймворки и базы данных, понимать основы веб-разработки, быть ответственным и уметь воспринимать критику. Разберём подробнее.</p>
            <h3>Профессиональные навыки:</h3>
            <ul>
                <li>Уметь создавать эффективный и надёжный код на PHP, иметь базовое понимание языка.</li>
                <li>Разбираться в основах веба: как устроены http-запросы и как в целом работает интернет.</li>
                <li>Ориентироваться в популярной базе данных MySQL и ее форке MariaDB. Начинающий специалист может заметно выделиться на собеседовании, если окажется, что он разбирается в какой-нибудь специфической базе данных, например в ClickHouse.</li>
                <li>Знать JavaScript, CSS и HTML, если в планах освоить профессию fullstack-разработчик на PHP. С этими знаниями получится самостоятельно с нуля разрабатывать функциональные продукты.</li>
                <li>Знать один из популярных фреймворков, например Laravel, Symfony, Yii2.</li>
                <li>Базово понимать принципы проектирования, работать в программе SOLIDWORKS.</li>
            </ul>
            <h3>Гибкие навыки:</h3>
            <ul>
                <li>Уметь коммуницировать с программистами и с теми, кто не связан с кодом. Когда компании ищут в команду кандидата с заделом на будущее, то могут смотреть и на его бизнес-навыки. Они понадобятся, если джуниор будет внедрять определённую функцию и ему придётся вести переговоры с бизнес-партнёрами.</li>
                <li>Спокойно относиться к критике. Важно быть открытым для отзывов от коллег, чтобы в дальнейшем избежать повторения ошибок и расширить кругозор в PHP-разработке.</li>
                <li>Справляться со стрессом ― работа в этой сфере часто связана со сроками, требованиями заказчиков и постоянной необходимостью решать технически сложные задачи.</li>
            </ul>
        </div>
        <div class="subtext">
            <h2>Сколько зарабатывает PHP-разработчик: перспективы профессии и карьерный рост</h2>
            <p>На сентябрь 2024 года на HeadHunter опубликовано 1300 вакансий для PHP-разработчиков. Средняя зарплата PHP-разработчика зависит от грейда:</p>
            <ul class="salary">
                <li>75 тыс. рублей для джуниоров;</li>
                <li>170 тыс. рублей для мидлов;</li>
                <li>290 тыс. рублей для сеньоров.</li>
            </ul>
            <p>Средняя зарплата лида — 320 тыс. рублей. Если PHP-программист работает на зарубежные компании, совмещает сразу несколько проектов, руководит командой — потолка в зарплате нет.</p>
        </div>
        <div class="subtext">
            <h2>Плюсы и минусы профессии PHP-разработчика</h2>
            <p>Профессия PHP-разработчика — востребованное направление в IT-сфере. Она предоставляет возможность создавать динамичные веб-приложения и неплохо зарабатывать. Однако, как и у любой другой профессии, у неё есть преимущества и недостатки, которые важно учитывать при смене карьеры.</p>
            <h3>Плюсы:</h3>
            <ul>
                <li>Простой синтаксис. Это действительно тот язык, с которого легко начинать путь в разработку. Те редкие нюансы, что есть, детально прописаны сообществом, и с ними можно работать.</li>
                <li>Большое комьюнити. Сообщество позаботилось о создании большого количества пакетов и фреймворков — среди них, например, Laravel, Symfony, Yii2. Проблем с поиском справочной информации точно не возникнет.</li>
                <li>Подходит для бизнеса. Нет практически ни одной задачи, которую не мог бы решить язык PHP. Если речь идёт о больших объёмах данных, то проблема нагрузки решается за счёт оптимизации. Долгое время на PHP нельзя было делать реалтаймовые вещи, но сообщество нашло выход, разработав целые фреймворки, которые решают эти проблемы, — ReactPHP, Swoole.</li>
                <li>Динамично развивается. Недавно вышла версия 8.3, где обновили компилятор, который улучшает производительность на математических вычислениях.</li>
                <li>Востребован на рынке. Вакансий очень много — только на HeadHunter их больше 3 000. Уверенный мидл-специалист может получать по несколько предложений работы каждую неделю.</li>
            </ul>
            <h3>Минусы:</h3>
            <ul>
                <li>Низкая производительность. Если разработчик часто использует циклы, сложные запросы к базе данных или недостаточную оптимизацию алгоритмов, то все это может замедлить работу программы. Код будет выполняться медленно и потреблять много оперативной памяти.</li>
                <li>Низкий порог входа. Кроме очевидных плюсов — легко войти в профессию и найти первую работу, — простота языка может сыграть злую шутку. Если у программиста нет базовых знаний, он будет писать код с ошибками и другим разработчикам придётся его исправлять.</li>
            </ul>
        </div>
    </div>

    <footer>
        <p>Авдеенко Максим Анатольевич</p>
        <p>Академическая группа: РИ-230931</p>
    </footer>
</body>
</html>
