{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой проект</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={% now 'U' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}">
</head>
<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="photo">
        <h1>Профессия ""</h1>
    </header>

    <nav>
        <a class="navigation" href="{% url 'index' %}">Главная</a>
        <a class="navigation" href="{% url 'stats' %}">Общая статистика</a>
        <a class="navigation" href="{% url 'relevance' %}">Востребованность</a>
        <a class="navigation" href="{% url 'geography' %}">География</a>
        <a class="navigation" href="{% url 'skills' %}">Навыки</a>
        <a class="navigation" href="{% url 'last_vacancies' %}">Последние вакансии</a>
    </nav>

    <div class="content">
        <h2>Добро пожаловать на сайт!</h2>
        <p>Здесь будет основное содержание страницы.</p>

        <div class="flex-container">
            <div class="table-container">
                <h3>Статистика по годам</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Год</th>
                            <th>Зарплата</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in data %}
                        <tr>
                            <td>{{ record.published_at|floatformat:"0" }}</td>
                            <td>{{ record.salary }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="carousel-container">
                <h3>Фотографии</h3>
                <div class="carousel">
                    <div><img src="{% static 'img/logo.png' %}" alt="photo1"></div>
                    <div><img src="{% static 'img/logo.png' %}" alt="photo2"></div>
                    <div><img src="{% static 'img/logo.png' %}" alt="photo3"></div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>ФИО: Авдеенко Максим Анатольевич | Академическая группа: РИ-230931</p>
    </footer>
</body>
</html>